body {
    background-color: rgba(0, 0, 0, 0.082);
}


.navbar {
    background-color: white;
}

.signup {

    margin-top: 150px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid 1px white;
    background-color: white;
    border-radius: 5px;
    height: 320px;
    box-shadow: 10px 10px 10px 10px #aaa;
}

.container {
    margin-top: 10vh;
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
}
.ingreser form{
    width: 400px;
    margin:100px 150px;
    background-color: white; 
    padding: 50px;
}
.ingreser form button{
    margin-top:20px;
    
}
.ingreser input{
    margin-bottom:20px;
}
.presentation{
    width: 400px;
    margin: 100px 150px;
}
/* .col-md-3 {
    display: flex;
     flex-direction: column;
     justify-content: center;
 
 }
.col-md-2 {
   display: flex;
    flex-direction: column;
    justify-content: center;
} */
.produit{
    width: 60vw;
    margin-left: 10vw;
    border-radius: 15px;
}


.card-img{
    width: 80px;
    height: 80px;
    margin-left: 20px;
}
.col-md-3 .up {

    border-radius: 5px;
    border: 1px solid grey;
    width: 70px;
    height: 75px;
    background-color: white;
}

.up {
    text-align: center;
    padding-top: 10px;
}
.liked {
    text-align: center;
    padding-top: 10px;
}
.liked{

    border-radius: 5px;
    border: 1px solid rgb(231, 68, 9);
    color: rgb(231, 68, 9);
    width: 70px;
    height: 75px;
    background-color: white;

}
*{
    box-sizing: border-box;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);
    z-index: 1000;
}

.popup.active{
    display: inline-block;
}

.popup-content{
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    height: auto;
    min-width: auto;
    width: auto;
    border: 1px solid rgb(22, 21, 21);
    display: flex;
    flex-direction: column;
    opacity: 0;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.05);
}

.popup-content.active {

    opacity: 1;
    top: 10%;
    width: 80%;
    height: auto;
    bottom: 10%;
    padding: 61px;
    background-color: whitesmoke;
}

.popup-header {
    color: black;
}

.popup-body{
    height: auto;
    padding: 2%;
    background-color: white;
}

.popup-footer{

    height: auto;
    padding: 2%;
    background-color: whitesmoke;
}
textarea{ 
    width: 100%;
    margin-bottom: 10px;
}

.commentaires {
    background-color: rgb(227, 226, 235); 
    border-radius: 10px;
    margin: 10px;
    padding: 3px;
}

.nblike{

    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    margin: 5px;

}
.produit:hover {
    width: 65vw;
    margin-left: 10vw;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px #aaa;

}
.navbar-brand {

    width: 50px;
    height: 50px;
    border: none;
    background-color: red;
    border-radius: 50px;
    text-align: center;
    font-size: x-large;
}